@test success
@name "projection on parameterized record works"
@import preambles/nat.tt

record Pair (A : Type) (B : Type) where
  constructor MkPair
  fst : A
  snd : B

getFst : Pair Nat Nat -> Nat
getFst p = Pair.fst p
