@test failure
@name "type-at bug with absurd clauses"
@import src/test-programs/preambles/nat.tt
@import src/test-programs/preambles/equal-simple.tt

inductive Leq : Nat -> Nat -> Type where
  LeqZero : {n : Nat} -> Leq Zero n
  LeqSucc : {n m : Nat} -> Leq n m -> Leq (Succ n) (Succ m)

leqCanonical : {a b : Nat} -> (p q : Leq a b) -> Equal p q
leqCanonical LeqZero (LeqSucc leq) = #absurd
leqCanonical (LeqSucc leq) LeqZero = #absurd
leqCanonical LeqZero LeqZero = ?Foo
leqCanonical (LeqSucc pleq) (LeqSucc qleq) = ?Bar
