-- @test success
-- @name "replace with P : A -> Type works (P x is a type)"

inductive Equal : {A : Type} -> A -> A -> Type where
  refl : {A : Type} -> {x : A} -> Equal x x

replace : {A : Type} -> {P : A -> Type} -> {x y : A} -> Equal x y -> P x -> P y
replace refl px = px
