@test success
@name "Streicher's K should succeed with axiom K"
@import preambles/equality.tt
@assumeK

-- With axiom K, Streicher's K is provable
streichersK : (A : Type) -> (a : A) -> (P : Equal a a -> Type) -> (p : P refl) -> (e : Equal a a) -> P e
streichersK A a P p refl = p
