-- @test success
-- @name "ellipsis in nested with branches"
-- @import preambles/nat.tt
-- @import preambles/bool.tt

classify : Nat -> Nat -> Bool
classify m n with m
  | Zero with n
    ... | Zero => True
    ... | Succ _ => False
  | Succ _ => True
