@test success
@name "reverse using with and accumulator"
@import preambles/nat.tt
@import preambles/bool.tt
@import preambles/list.tt

revAux : {A : Type} -> List A -> List A -> List A
revAux acc xs with xs
  | Nil => acc
  | Cons x rest => revAux (Cons x acc) rest

reverse : {A : Type} -> List A -> List A
reverse xs = revAux Nil xs
