@test success
@name "head with default using with"
@import preambles/nat.tt
@import preambles/bool.tt
@import preambles/list.tt

headOr : {A : Type} -> A -> List A -> A
headOr def xs with xs
  | Nil => def
  | Cons x _ => x
