@test success
@name "mapRight using with on Either"
@import preambles/nat.tt
@import preambles/either.tt

mapRight : {A B C : Type} -> (B -> C) -> Either A B -> Either A C
mapRight f e with e
  | Left a => Left a
  | Right b => Right (f b)
