@test success
@name "some clauses with patterns, one with with"
@import preambles/nat.tt
@import preambles/bool.tt

isOne : Nat -> Bool
isOne Zero = False
isOne n with n
  | Zero => False
  | Succ Zero => True
  | Succ (Succ _) => False
