-- @test success
-- @name "nested with on both branches"
-- @import preambles/nat.tt
-- @import preambles/bool.tt

classify2 : Nat -> Nat -> Bool
classify2 m n with m
  | Zero with n
    | Zero => True
    | Succ _ => False
  | Succ _ with n
    | Zero => False
    | Succ _ => True
