-- @test success
-- @name "nested with generates correct auxiliary ordering"
-- @import preambles/nat.tt
-- @import preambles/bool.tt

ordered : Nat -> Nat -> Bool
ordered m n with m
  | Zero with n
    | Zero => True
    | Succ _ => False
  | Succ _ => True
