@test success
@name "refl with all named args explicit: {A:=Nat} {a:=Zero}"

inductive Nat : Type where
  Zero : Nat
  Succ : Nat -> Nat

inductive Equal : {A : Type} -> A -> A -> Type where
  refl : {A : Type} -> {a : A} -> Equal a a

test : Equal Zero Zero
test = refl {A:=Nat} {a:=Zero}
