@test success
@name "Leq: reflexivity, transitivity, antisymmetry"
@import preambles/nat.tt

inductive Equal : {A : Type} -> A -> A -> Type where
  refl : {A : Type} -> {a : A} -> Equal a a

congSucc : {n m : Nat} -> Equal n m -> Equal (Succ n) (Succ m)
congSucc refl = refl

-- Less-than-or-equal on Nat
inductive Leq : Nat -> Nat -> Type where
  LeqZero : {n : Nat} -> Leq Zero n
  LeqSucc : {n m : Nat} -> Leq n m -> Leq (Succ n) (Succ m)

-- Reflexivity: a <= a
leqRefl : (n : Nat) -> Leq n n := by
  intro n
  induction n with
  | Zero => exact LeqZero
  | Succ n' IH => exact (LeqSucc IH)

-- Transitivity: a <= b /\ b <= c => a <= c
leqTrans : {a b c : Nat} -> Leq a b -> Leq b c -> Leq a c := by
  intros a b c hab hbc
  cases hab with
  | LeqZero => exact LeqZero
  | LeqSucc p =>
    cases hbc with
    | LeqSucc q => exact (LeqSucc (leqTrans p q))

-- Antisymmetry: a <= b /\ b <= a => a = b
leqAntisym : {a b : Nat} -> Leq a b -> Leq b a -> Equal a b := by
  intros a b hab hba
  cases hab with
  | LeqZero =>
    cases hba with
    | LeqZero => exact refl
  | LeqSucc p =>
    cases hba with
    | LeqSucc q => exact (congSucc (leqAntisym p q))
