@test success
@name "multi-tactic: multiple tactics in induction branch"
@import preambles/nat.tt

inductive Equal : {A : Type} -> A -> A -> Type where
  refl : {A : Type} -> {a : A} -> Equal a a

congSucc : {n m : Nat} -> Equal n m -> Equal (Succ n) (Succ m)
congSucc refl = refl

plus : Nat -> Nat -> Nat
plus Zero m = m
plus (Succ n) m = Succ (plus n m)

-- Try multi-line tactics in branch
plusZeroRight : (n : Nat) -> Equal (plus n Zero) n := by
  intro n
  induction n with
  | Zero => exact refl
  | Succ n' IH =>
    apply congSucc
    exact IH
