@test success
@name "Parameterized type with positive occurrence"

inductive List : Type -> Type where
  Nil : (A : Type) -> List A
  Cons : (A : Type) -> A -> List A -> List A

inductive RoseTree : (A : Type) -> Type where
  RNode : (A : Type) -> A -> List (RoseTree A) -> RoseTree A
