@test failure
@name "Simple negative occurrence: Bad : Type where bad : (Bad -> Nat) -> Bad"
@error "negative occurrence"

inductive Nat : Type where
  Zero : Nat
  Succ : Nat -> Nat

inductive Bad : Type where
  bad : (Bad -> Nat) -> Bad
