-- @test failure
-- @name "soundness: match clause returning wrong constructor is rejected"

inductive Nat : Type where
  Zero : Nat
  Succ : Nat -> Nat

inductive Bool : Type where
  True : Bool
  False : Bool

bad : Nat -> Bool
bad Zero = Zero
bad (Succ n) = True
