-- @test failure
-- @name "soundness: succInj with backwards Equal q p should be rejected"
-- @import preambles/equality.tt

inductive Nat : Type where
  Zero : Nat
  Succ : Nat -> Nat

inductive Void : Type where

inductive DecEq : Nat -> Nat -> Type where
  Yes : {m n : Nat} -> Equal m n -> DecEq m n
  No : {m n : Nat} -> (Equal m n -> Void) -> DecEq m n

succInj : {p q : Nat} -> Equal (Succ p) (Succ q) -> Equal q p
succInj refl = refl

decEqNat : (x y : Nat) -> DecEq x y
decEqNat (Succ x) (Succ y) with decEqNat x y
  | No neq => No (\eq => neq (succInj eq))
  | Yes eq => ?todo0
decEqNat _ _ = ?todo1
