@test success
@name "(P : Prop) -> Q : Prop lives in Prop (imax(0,0) = 0)"

inductive P : Prop where
  evP : P

inductive Q : Prop where
  evQ : Q

-- An implication between two propositions is itself a proposition.
PiPropProp : Prop
PiPropProp = P -> Q
