@test success
@name "PLift packages a Prop as a Type value"
@import preambles/plift.tt

inductive P : Prop where
  triv : P

-- PLift P : Type 0, even though P : Prop.
wrappedProp : Type
wrappedProp = PLift P

-- And we can actually produce a value of it from a proof.
wrappedValue : PLift P
wrappedValue = mkPLift triv
