@test success
@name "Sort u Equal: instantiated at u=0 equates proofs (Prop)"
@import preambles/equality-sort.tt

-- Equal is now genuinely universe-polymorphic. At u = 0 it equates Props.
inductive P : Prop where
  pa : P
  pb : P

paEqPb : Equal pa pb
paEqPb = refl
